Repository kozaka93/2023Z-DataVisualizationTechniques, pull requests merged in 2023-12, with the labels that each got.

#341 Adamczyk_Krzysztof_HW4
  homeworks/hw4/AdamczykKrzysztof/hw4_script.ipynb
  homeworks/hw4/AdamczykKrzysztof/wrong_plot.jpg
Labels: HW4

#342 Kacper Rodziewicz hw4
  homeworks/hw4/RodziewiczKacper/hw4.R
Labels: HW4

#407 NazariiBihniakHW4
  homeworks/hw4/BihniakNazarii/BettelPlot.png
  homeworks/hw4/BihniakNazarii/BihniakNazarii.R
  homeworks/hw4/BihniakNazarii/US_Presidential_elections_popular_votes_since_1900.png
  homeworks/hw4/BihniakNazarii/us_president_election.csv
Labels: Late ⏰, HW4

#352 Mróz Aleksander HW4
  homeworks/hw4/MrozAleksander/PracaDomowa4.R
Labels: HW4

#401 WojcikAleksandra HW4
  homeworks/hw4/WojcikAleksandra/AULGraphAbortionsUp2015.jpg
  homeworks/hw4/WojcikAleksandra/hw4_Wojcik_Aleksandra.R
  homeworks/hw4/WojcikAleksandra/plot.html
Labels: HW4

#399 MokwaMalgorzata HW4
  homeworks/hw4/MokwaMalgorzata/do_poprawienia.png
  homeworks/hw4/MokwaMalgorzata/poprawiony.html
  homeworks/hw4/MokwaMalgorzata/zadanie_domowe4.R
Labels: HW4

#397 Zajączkowski Michał HW4
  homeworks/hw4/ZajaczkowskiMichal HW4/kod.R
  homeworks/hw4/ZajaczkowskiMichal HW4/oryginalnyWykres.jpg
  homeworks/hw4/ZajaczkowskiMichal HW4/poprawionyWykres.html
  homeworks/hw4/ZajaczkowskiMichal HW4/raport.Rmd
Labels: HW4

#390 Bartłomiej Borycki HW4
  homeworks/hw4/BoryckiBartlomiej/Dane/military-expenditure-share-gdp.csv
  homeworks/hw4/BoryckiBartlomiej/Kodzik.R
  homeworks/hw4/BoryckiBartlomiej/UzasadnienieHW4.pdf
  homeworks/hw4/BoryckiBartlomiej/Wykresiki/DobryWykresik.html
  homeworks/hw4/BoryckiBartlomiej/Wykresiki/Wykres.png
  homeworks/hw4/BoryckiBartlomiej/Wykresiki/ZlyWykresik.webp
Labels: HW4

#411 HW5_RogalskaKasia
  homeworks/hw5/RogalskaKasia/Choinka.png
  homeworks/hw5/RogalskaKasia/choinka.R
Labels: HW5

#364 GuzikMikolajHW4
  homeworks/hw4/GuzikMikolaj/Raport HW4.pdf
  homeworks/hw4/GuzikMikolaj/hw4.R
  homeworks/hw4/GuzikMikolaj/wykres.html.webloc
  homeworks/hw4/GuzikMikolaj/wykres_stary.png
Labels: HW4

#362 HW4 Igor Kołodziej
  homeworks/hw4/KolodziejIgor/.idea/.gitignore
  homeworks/hw4/KolodziejIgor/.idea/KolodziejIgor.iml
  homeworks/hw4/KolodziejIgor/.idea/misc.xml
  homeworks/hw4/KolodziejIgor/.idea/modules.xml
  homeworks/hw4/KolodziejIgor/.idea/vcs.xml
  homeworks/hw4/KolodziejIgor/Americas-Homeless-Population.png
  homeworks/hw4/KolodziejIgor/hw4.html
  homeworks/hw4/KolodziejIgor/hw4.ipynb
Labels: HW4

#361 PoltorakJakub HW4
  homeworks/hw4/PoltorakJakub/Poltorak_Jakub_hw4.R
  homeworks/hw4/PoltorakJakub/Poprawiana_Wizualizacja.webp
Labels: HW4

#360 Mateusz Iwaniuk hw4
  homeworks/hw4/MateuszIwaniuk/Screenshot from 2023-12-10 14-52-53.png
  homeworks/hw4/MateuszIwaniuk/plotly-pis.Rproj
Labels: HW4

#366 FlorekPawelHW4
  homeworks/hw4/FlorekPawel/Raport.pdf
  homeworks/hw4/FlorekPawel/Rplot.png
  homeworks/hw4/FlorekPawel/hw4.R
Labels: HW4

#355 MatuszykMichal HW4
  homeworks/hw4/MatuszykMichal/Bledny wykres - z bledami pokazanymi.jpg
  homeworks/hw4/MatuszykMichal/Bledny wykres.jpg
  homeworks/hw4/MatuszykMichal/Inflacja.csv
  homeworks/hw4/MatuszykMichal/app.R
  homeworks/hw4/MatuszykMichal/newplot.png
  homeworks/hw4/MatuszykMichal/raport.Rmd
  homeworks/hw4/MatuszykMichal/raport.pdf
Labels: HW4

#357 Seweryn Barbara HW4
  homeworks/hw4/HW4_Seweryn.R
  homeworks/hw4/Seweryn_hw4.pdf
Labels: HW4

#358 KowalskiHubert HW4
  homeworks/hw4/KowalskiHubert/PoprawaWykresuPlotly.R
  homeworks/hw4/KowalskiHubert/Raport_z_poprawy_jakości_wykresu_plotly.pdf
  homeworks/hw4/KowalskiHubert/Wykres.html
  homeworks/hw4/KowalskiHubert/Wykres.png
  homeworks/hw4/KowalskiHubert/Wykres_stary.png
Labels: HW4

#365 DeptuchMateusz HW4
  homeworks/hw4/DeptuchMateusz/Sprawozdanie.pdf
  homeworks/hw4/DeptuchMateusz/code1.R
  homeworks/hw4/DeptuchMateusz/plot.html
Labels: HW4

#374 ChodanMilosz HW4
  homeworks/hw4/ChodanMilosz/Raport.pdf
  homeworks/hw4/ChodanMilosz/Skrypt_HW4.R
  homeworks/hw4/ChodanMilosz/newplot.png
Labels: HW4

#370 OkrojekBogumiła HW4
  homeworks/hw4/OkrojekBogumila/HW4.html
  homeworks/hw4/OkrojekBogumila/HW4.pdf
  homeworks/hw4/OkrojekBogumila/TFR_data.csv
  homeworks/hw4/OkrojekBogumila/kod_wykresu.R
Labels: HW4

#389 HW4 Pytel Michał
  homeworks/hw4/PytelMichal/raport.Rmd
  homeworks/hw4/PytelMichal/wykres.jpg
Labels: HW4

#398 Szewczak Michal HW4
  homeworks/hw4/SzewczakMichal/hw4.R
  homeworks/hw4/SzewczakMichal/hw4.pdf
  homeworks/hw4/SzewczakMichal/wynagr_hw4-v2.csv
Labels: HW4

#406 HW4_CwalinaJan
  homeworks/hw4/CwalinaJan/HW4_JanCwalina.pdf
Labels: Late ⏰, HW4

#381 GimzickaDominika HW4
  homeworks/hw4/GimzickaDominika/Sprawozdanie.pdf
  homeworks/hw4/GimzickaDominika/poprawiony_wykres.html
  homeworks/hw4/GimzickaDominika/wykres.R
Labels: HW4

#396 KrawczykAgata HW4
  homeworks/hw4/KrawczykAgata/app.R
Labels: HW4

#385 OstrowskaAnna_HW4
  homeworks/hw4/OstrowskaAnna/Fakty_zachorowania_na_korownawirusa.png
  homeworks/hw4/OstrowskaAnna/OstrowskaAnna_HW4.R
  homeworks/hw4/OstrowskaAnna/wizualizacja_covid_cases.html
Labels: HW4

#382 PozorskiPawel hw4
  homeworks/hw4/PozorskiPawel/hw4.ipynb
  homeworks/hw4/PozorskiPawel/logos/Alabama.png
  homeworks/hw4/PozorskiPawel/logos/Arkansas.png
  homeworks/hw4/PozorskiPawel/logos/Auburn.png
  homeworks/hw4/PozorskiPawel/logos/Florida.png
  homeworks/hw4/PozorskiPawel/logos/Georgia.png
  homeworks/hw4/PozorskiPawel/logos/Kentucky.png
  homeworks/hw4/PozorskiPawel/logos/LSU.png
  homeworks/hw4/PozorskiPawel/logos/Missisipi State.png
  homeworks/hw4/PozorskiPawel/logos/Missouri.png
  homeworks/hw4/PozorskiPawel/logos/Ole Miss.png
  homeworks/hw4/PozorskiPawel/logos/South Carolina.png
  homeworks/hw4/PozorskiPawel/logos/Tennessee.png
  homeworks/hw4/PozorskiPawel/logos/Texas A&M.png
  homeworks/hw4/PozorskiPawel/logos/Vanderbilt.png
  homeworks/hw4/PozorskiPawel/wykres.jpeg
Labels: HW4

#375 Sekula Gaspar HW4
  homeworks/hw4/SekulaGaspar/HW4.pdf
  homeworks/hw4/SekulaGaspar/code.R
  homeworks/hw4/SekulaGaspar/data.csv
Labels: HW4

#395 WieteckiMichal HW4
  homeworks/hw4/WieteckiMichal/app.R
  homeworks/hw4/WieteckiMichal/hw_4.pdf
Labels: HW4

#412 Bokhan Katsiaryna [HW 5]
  homeworks/hw5/BokhanKatsiaryna/ChristmasTree.R
  homeworks/hw5/BokhanKatsiaryna/ChristmasTreeBlueSelected.png
  homeworks/hw5/BokhanKatsiaryna/ChristmasTreeRedSelected.png
  homeworks/hw5/BokhanKatsiaryna/ChristmasTreeYellowSelected.png
Labels: HW5

#413 KaminskaZofia [HW5]
  homeworks/hw5/KaminskaZofia/choinka.png
  homeworks/hw5/KaminskaZofia/choinka.py
  homeworks/hw5/KaminskaZofia/christmas_animation.gif
Labels: HW5

#415 Choszczyk Natalia HW5
  homeworks/hw5/ChoszczykNatalia/choinka.R
  homeworks/hw5/ChoszczykNatalia/choinka.gif
Labels: HW5

#416 KwiatkowskaAleksandra HW5
  homeworks/hw5/KwiatkowskaAleksandra/ChristmasTree.R
  homeworks/hw5/KwiatkowskaAleksandra/ChristmasTree.html
  homeworks/hw5/KwiatkowskaAleksandra/ChristmasTree.png
Labels: HW5

#418 SzczesnaUrszula HW5
  homeworks/hw5/SzczesnaUrszula/animowana_choinka.gif
  homeworks/hw5/SzczesnaUrszula/choinka.R
Labels: HW5

#419 Dunal Karolina HW5
  homeworks/hw5/DunalKarolina/choina.R
  homeworks/hw5/DunalKarolina/choina.gif
Labels: HW5

#420 Karandys Mateusz HW 5
  homeworks/hw5/KarandysMateusz/tree.ipynb
  homeworks/hw5/KarandysMateusz/tree.png
Labels: HW5

#422 Jarosz Mateusz - [HW5]
  homeworks/hw5/JaroszMateusz/code.R
  homeworks/hw5/JaroszMateusz/tree.png
Labels: HW5

#423 MajstrakGabriela_HW5
  homeworks/hw5/MajstrakGabriela/animationtree.gif
  homeworks/hw5/MajstrakGabriela/christmastree.py
Labels: HW5

#425 FrydrysiakNorbert HW5
  homeworks/hw5/FrydrysiakNorbert/xmas_tree.R
  homeworks/hw5/FrydrysiakNorbert/xmas_tree.pdf
Labels: HW5

#426 KowalskiHubert HW5
  homeworks/hw5/KowalskiHubert/FractalTree.png
  homeworks/hw5/KowalskiHubert/christmas_tree.R
  homeworks/hw5/KowalskiHubert/christmas_tree.gif
Labels: HW5

#427 Kingston Antoni HW5
  homeworks/hw5/Kingston_Antoni/CHOINGA.png
  homeworks/hw5/Kingston_Antoni/Rysowańsko.R
Labels: HW5

#428 Krol Mateusz HW5
  homeworks/hw5/KrolMateusz/mkrolskrypt.R
  homeworks/hw5/KrolMateusz/przykładowa_choinka.png
Labels: HW5
