Repository kozaka93/2023Z-DataVisualizationTechniques, pull requests merged in 2023-10, with the labels that each got.

#41 lab01
  homeworks/hw0/sienkozuzanna/lab1.R
Labels: fixes needed

#63 [HW0] - Michal Iwaniuk
  homeworks/hw0/IwaniukMichal/lab1.R
Labels: fixes needed 🛠️

#55 [HW0] - Igor Kołodziej
  homeworks/hw0/KolodziejIgor/proton.R
Labels: fixes needed 🛠️

#38 Cwalina Jan HW0
  homeworks/hw0/CwalinaJan/proton.R
Labels: fixes needed 🛠️

#58 [HW0] - Bartosz Jezierski
  homeworks/hw0/JezierskiBartosz/test2.R
Labels: fixes needed 🛠️

#95 Bartłomiej Borycki HW1
  homeworks/hw1/BoryckiBartlomiej/HW1_tasks.R
Labels: HW1

#72 HW1 Iwaniuk Michal
  homeworks/hw1/HW1_tasks.R
  homeworks/hw1/IwaniukMichal/MichalIwaniuk_HW1.R
Labels: HW1

#73 FrydrysiakNorbert HW1
  homeworks/hw1/FrydrysiakNorbert/HW1_tasks_FrydrysiakNorbert.R
Labels: HW1

#97 HW1 Hleb Badzeika
  homeworks/hw1/HlebBadzeika/HW1_solution.R
Labels: HW1

#76 DeptuchMateusz HW1
  homeworks/hw1/DeptuchMateusz/HW1_tasks.R
Labels: HW1

#77 DunalKarolina HW1
  homeworks/hw1/DunalKarolina/HW1_tasks.R
Labels: HW1

#78 Kołodziej Igor HW1
  homeworks/hw1/KolodziejIgor/HW1_tasks.R
  homeworks/hw1/KolodziejIgor/README.md
  homeworks/hw1/KolodziejIgor/spotify-2023.csv
Labels: HW1

#79 Ostrowska Anna HW1
  homeworks/hw1/OstrowskaAnna/Ostrowska_Anna_HW1.R
Labels: HW1

#80 Bogumiła Okrojek HW1
  homeworks/hw1/OkrojekBogumila/HW1_tasks.R
  homeworks/hw1/OkrojekBogumila/spotify-2023.csv
Labels: HW1

#81 Kowalski Hubert HW1
  homeworks/hw1/KowalskiHubert/HW1_tasks.R
Labels: HW1

#82 Jezierski Bartosz HW1
  homeworks/hw1/JezierskiBartosz/HW1_tasks.R
Labels: HW1

#85 RogalskaKatarzyna HW1
  homeworks/hw1/RogalskaKatarzyna/HW1_kasiaRogalska.R
  homeworks/hw1/RogalskaKatarzyna/spotify-2023.csv
Labels: HW1

#87 Mokwa Malgorzata HW1
  homeworks/hw1/MokwaMalgorzata/HW1_tasks.R
Labels: HW1

#89 Tkaczyk Krzysztof hw1
  homeworks/hw1/TkaczykKrzysztof/HW1_tasks.R
  homeworks/hw1/TkaczykKrzysztof/README.md
  homeworks/hw1/TkaczykKrzysztof/spotify-2023.csv
Labels: HW1

#90 Pahasian Milanna HW1
  homeworks/hw1/PahasianMilanna/HW1.R
Labels: HW1

#91 WojcikBartlomiej HW1
  homeworks/hw1/WojcikBartlomiej/HW1_tasks.R
  homeworks/hw1/WojcikBartlomiej/spotify-2023.csv
Labels: HW1

#92 GuzikMikolaj HW1
  homeworks/hw1/GuzikMikolaj/HW1_tasks.R
Labels: HW1

#93 Karandys Mateusz HW 1
  homeworks/hw1/KarandysMateusz/HW1_tasks.R
  homeworks/hw1/KarandysMateusz/spotify-2023.csv
Labels: HW1

#98 [HW1] Zofia Kaminska
  homeworks/hw1/KaminskaZofia/hw1.R
Labels: HW1

#99 ZywickiTomasz HW1
  homeworks/hw1/ZywickiTomasz/HW1_tasks.R
  homeworks/hw1/ZywickiTomasz/spotify-2023.csv
Labels: HW1

#100 MateuszJarosz HW1
  homeworks/hw1/JaroszMateusz/HW1_tasks.R
Labels: HW1

#101 Kwiatkowska Aleksandra HW1
  homeworks/hw1/KwiatkowskaAleksandra/Kwiatkowska_Aleksandra_HW1.R
  homeworks/hw1/KwiatkowskaAleksandra/spotify-2023.csv
Labels: HW1

#102 Serafin Nadia HW1
  homeworks/hw1/SerafinNadia/HW1_tasks.R
Labels: HW1

#103 SekulaGaspar HW1
  homeworks/hw1/SekulaGaspar/HW1_tasks.R
  homeworks/hw1/SekulaGaspar/spotify-2023.csv
Labels: HW1

#105 Langiewicz Filip HW1
  homeworks/hw1/LangiewiczFilip/LangiewiczFilipHW1.R
Labels: HW1

#110 Miłosz Kita HW1
  homeworks/hw1/MiłoszKita/howeWork1.R
Labels: HW1

#114 PoltorakJakub HW 01
  homeworks/hw1/PoltorakJakub/HW1_tasks.R
Labels: HW1

#115 Rowicki Mikołaj HW1
  homeworks/hw1/RowickiMikołaj/Rowicki_Mikołaj_HW1.R
Labels: HW1

#116 KapronJakub HW1
  homeworks/hw1/KapronJakub/KapronJakub_HW1.R
Labels: HW1

#117 KuklaMichal HW1
  homeworks/hw1/KuklaMichal/HW1_tasks.R
  homeworks/hw1/KuklaMichal/spotify-2023.csv
Labels: HW1

#118 ChodanMilosz HW1
  homeworks/hw1/ChodanMilosz/HW1_tasks.R
Labels: HW1

#119 KaniastyAdam HW1
  homeworks/hw1/KaniastyAdam/HW1_tasks.R
Labels: HW1

#120 HW1 Michał Pytel
  homeworks/hw1/PytelMichal/HW1_Pytel_Michal.R
Labels: HW1

#121 LesniakMartyna HW1
  homeworks/hw1/LesniakMartyna/HW1_tasks.R
Labels: HW1

#122 SzczesnaUrszula HW1
  homeworks/hw1/SzczesnaUrszula/HW1_tasks.R
Labels: HW1

#124 Aleksander Mróz HW1
  homeworks/hw1/MrozAleksander/HW1_tasks.R
Labels: HW1

#125 Bokhan Katsiaryna [HW 1]
  homeworks/hw1/BokhanKatsiaryna/HW1_tasks.R
Labels: HW1

#126 Michał Matuszyk HW1
  homeworks/hw1/MatuszykMichal/HW1_tasks.R
  homeworks/hw1/MatuszykMichal/README.md
  homeworks/hw1/MatuszykMichal/spotify-2023.csv
Labels: HW1

#127 Opala Jan HW1
  homeworks/hw1/OpalaJan/Jan Opala HW1.R
Labels: HW1

#129 SobocinskiHubert HW1
  homeworks/hw1/SobocińskiHubert/HW1_tasks_SobocinskiHubert.R
  homeworks/hw1/SobocińskiHubert/spotify-2023.csv
Labels: HW1

#130 Majstrak Gabriela HW1
  homeworks/hw1/MajstrakGabriela/HW1_GabrielaMajstrak.R
Labels: HW1

#132 Rodziewicz Kacper HW1
  homeworks/hw1/RodziewiczKacper/HW1_tasks-2.r
Labels: HW1

#133 Zajaczkowski Michal HW1
  homeworks/hw1/ZajaczkowskiMichal/HW1_tasks.R
Labels: HW1

#134 Szlingiert Filip HW1
  homeworks/hw1/SzlingiertFilip/HW1_tasks.R
Labels: HW1

#137 SewerynBarbara HW1
  homeworks/hw1/SewerynBarbara/HW1_tasks.R
  homeworks/hw1/SewerynBarbara/spotify-2023.csv
Labels: HW1

#138 Szewczak Michal HW1
  homeworks/hw1/SzewczakMichal/HW1_tasks.R
Labels: HW1

#139 Boguszewska Wiktoria HW1
  homeworks/hw1/BoguszewskaWiktoria/HW1_Boguszewska_Wiktoria.r
  homeworks/hw1/BoguszewskaWiktoria/spotify-2023.csv
Labels: HW1

#140 KrolMateusz HW1
  homeworks/hw1/KrolMateusz/KrolMateusz.R
Labels: HW1

#141 Kingston_Antoni_HW1
  homeworks/hw1/KingstonAntoni/HW1_tasks.R
Labels: HW1

#143 WinnickaAleksandra HW1
  homeworks/hw1/WinnickaAleksandra/HW1_tasks.R
Labels: HW1

#75 Pozorski Paweł HW 1
  homeworks/hw1/PozorskiPawel/HW1_tasks.R
Labels: fixes needed 🛠️, HW1

#147 TlaczalaKornel HW1
  homeworks/hw1/TlaczalaKornel/HW1_tasks.R
  homeworks/hw1/TlaczalaKornel/README.md
  homeworks/hw1/TlaczalaKornel/spotify-2023.csv
Labels: HW1

#148 WojcikAleksandra HW1
  homeworks/hw1/WojcikAleksandra/Wojcik_Aleksandra_hw1.R
Labels: HW1

#94 H1 Mateusz Iwaniuk
  homeworks/hw1/IwaniukMateusz/mateusz_iwaniuk.R
Labels: HW1
