Repository kozaka93/2023Z-DataVisualizationTechniques, pull requests merged in 2023-11, with the labels that each got.

#152 Jezierski Bartosz HW2
  homeworks/hw2/JezierskiBartosz/Data/Df2.csv
  homeworks/hw2/JezierskiBartosz/Data/PKB.csv
  homeworks/hw2/JezierskiBartosz/Raport.pdf
  homeworks/hw2/JezierskiBartosz/Zly_wykres.R
Labels: HW2

#154 Zywicki Tomasz HW2
  homeworks/hw2/ZywickiTomasz/Wszystko inne/WykresPoprawiony.jpg
  homeworks/hw2/ZywickiTomasz/Wszystko inne/WykresWyjściowy.png
  homeworks/hw2/ZywickiTomasz/Wszystko inne/Wykresik.R
  homeworks/hw2/ZywickiTomasz/Wszystko inne/dane.csv
  homeworks/hw2/ZywickiTomasz/raport.pdf
Labels: HW2

#155 Momot Maciej HW2
  homeworks/hw2/MomotMaciej/MomotMaciej.R
  homeworks/hw2/MomotMaciej/Raport.pdf
Labels: HW2

#157 RogalskaKasiaHw2
  homeworks/hw2/RogalskaKasia/RogalskaHw2.html
Labels: HW2

#159 Bokhan Katsiaryna [HW 2]
  homeworks/hw2/BokhanKatsiaryna/HW2.R
  homeworks/hw2/BokhanKatsiaryna/Raport.pdf
Labels: HW2

#161 Borycki Bartłomiej HW2
  homeworks/hw2/BoryckiBartlomiej/Raport.pdf
  homeworks/hw2/BoryckiBartlomiej/WykresSondaz.R
Labels: HW2

#162 Sekula Gaspar HW2
  homeworks/hw2/SekulaGaspar/HW2.pdf
  homeworks/hw2/SekulaGaspar/my_plot/data.csv
  homeworks/hw2/SekulaGaspar/my_plot/my_plot.R
Labels: HW2

#163 Hubert Kowalski HW2
  homeworks/hw2/KowalskiHubert/ReprodukcjaWykresu.R
  homeworks/hw2/KowalskiHubert/TWD_HW2_raport.pdf
Labels: HW2

#166 Frydrysiak Norbert HW2
  homeworks/hw2/FrydrysiakNorbert/dok.pdf
  homeworks/hw2/FrydrysiakNorbert/files/dok.md
  homeworks/hw2/FrydrysiakNorbert/files/plot.R
  homeworks/hw2/FrydrysiakNorbert/files/plot.png
  homeworks/hw2/FrydrysiakNorbert/files/zly_wykres.png
Labels: HW2

#167 KarandysMateusz HW 2
  homeworks/hw2/KarandysMateusz/HW_2Karandys.Rmd
  homeworks/hw2/KarandysMateusz/HW_2Karandys.pdf
Labels: HW2

#168 SienkoZuzanna HW2
  homeworks/hw2/SienkoZuzanna/praca_domowa_2.html
Labels: HW2

#169 PahasianMilanna HW2
  homeworks/hw2/PahasianMilanna/hw2.pdf
Labels: HW2

#170 Wojcik Bartlomiej HW2
  homeworks/hw2/WojcikBartlomiej/DaneHW2.csv
  homeworks/hw2/WojcikBartlomiej/HW2.R
  homeworks/hw2/WojcikBartlomiej/WykresPO.png
  homeworks/hw2/WojcikBartlomiej/WykresPRZED.png
  homeworks/hw2/WojcikBartlomiej/raportHW2.pdf
Labels: HW2

#171 Langiewicz Filip HW2
  homeworks/hw2/LangiewiczFilip/poprawionyWykres.R
  homeworks/hw2/LangiewiczFilip/raport_FilipLangiewicz.pdf
Labels: HW2

#173 Kacper Rodziewicz hw2
  homeworks/hw2/RodziewiczKacper/WYKRESHW2.txt
  homeworks/hw2/RodziewiczKacper/hw2.pdf
Labels: HW2

#175 Szlingiert Filip HW2
  homeworks/hw2/SzlingiertFilip/HW2_code.R
  homeworks/hw2/SzlingiertFilip/HW_2.pdf
  homeworks/hw2/SzlingiertFilip/tour_cap_nat__custom_8097699_page_linear.csv
Labels: HW2

#176 Michal Pytel HW2
  homeworks/hw2/PytelMichal/Michal_Pytel_HW2.html
Labels: HW2

#179 Sobociński Hubert HW2
  homeworks/hw2/SobocinskiHubert/PoprawionyWykres.R
  homeworks/hw2/SobocinskiHubert/Raport.pdf
Labels: HW2

#180 Tkaczyk Krzysztof HW2
  homeworks/hw2/TkaczykKrzysztof/Opis.pdf
  homeworks/hw2/TkaczykKrzysztof/kod.R
  homeworks/hw2/TkaczykKrzysztof/wykres.png
Labels: HW2

#182 Antoni_Kingston_hw2
  homeworks/hw2/KingstonAntoni/Kingston_Antoni_hw2.pdf
Labels: HW2

#184 Adamczyk Krzysztof HW2
  homeworks/hw2/AdamczykKrzysztof/hw2_script.R
  homeworks/hw2/AdamczykKrzysztof/raport.pdf
Labels: HW2

#185 Król Mateusz HW2
  homeworks/hw2/KrolMateusz/Król Mateusz HW2.pdf
Labels: HW2

#186 MatuszykMichal HW2
  homeworks/hw2/MatuszykMichal/MatuszykMichal_hw_2.pdf
  homeworks/hw2/MatuszykMichal/bez_polskich_znakow.R
Labels: HW2

#187 Kołodziej Igor HW2
  homeworks/hw2/KolodziejIgor/HW2_Kolodziej_Igor.R
  homeworks/hw2/KolodziejIgor/HW2_Kolodziej_Igor.pdf
Labels: HW2

#188 Deptuch Mateusz hw2
  homeworks/hw2/DeptuchMateusz/raport.pdf
  homeworks/hw2/DeptuchMateusz/wykres.R
Labels: HW2

#189 Kruk Julia HW2
  homeworks/hw2/KrukJulia/raport.pdf
  homeworks/hw2/KrukJulia/wykres.R
Labels: HW2

#190 Dunal Karolina HW2
  homeworks/hw2/DunalKarolina/HW2 .pdf
Labels: HW2

#193 Rudolf Igor HW2
  homeworks/hw2/RudolfIgor/HW2_wykres.R
  homeworks/hw2/RudolfIgor/raport.pdf
Labels: HW2

#194 KapronJakub HW2
  homeworks/hw2/KapronJakub/KapronJakub_HW2.pdf
Labels: HW2

#196 SewerynBarbara HW2
  homeworks/hw2/SewerynBarbara/SewerynBarbara.pdf
Labels: HW2

#197 Pergała Sebastian HW2
  homeworks/hw2/PergalaSebastian/HW2_kod.R
  homeworks/hw2/PergalaSebastian/HW2_raport_Sebastian_Pergala.pdf
  homeworks/hw2/PergalaSebastian/dane_do_wykresu.xlsx
Labels: HW2

#198 SzczesnaUrszula HW2
  homeworks/hw2/SzczesnaUrszula/Praca domowa 2.pdf
  homeworks/hw2/SzczesnaUrszula/Praca_domowa2.html
Labels: HW2

#199 WieteckiMichal HW2
  homeworks/hw2/WieteckiMichal/Praca domowa 2 Michał Wietecki.pdf
Labels: HW2

#201 Choszczyk Natalia HW2
  homeworks/hw2/ChoszczykNatalia/raport [HW2].pdf
  homeworks/hw2/ChoszczykNatalia/wykres.R
Labels: HW2

#202 Kukla Michal HW2
  homeworks/hw2/KuklaMichal/Kukla_Michal_HW2.Rmd
  homeworks/hw2/KuklaMichal/Kukla_Michal_HW2.pdf
  homeworks/hw2/KuklaMichal/zly_wykres.png
Labels: HW2

#204 PiechotaMichal HW2
  homeworks/hw2/PiechotaMichal/kodDoWykresu.R
  homeworks/hw2/PiechotaMichal/raport.pdf
Labels: HW2

#205 KwiatkowskaAleksandra HW2
  homeworks/hw2/KwiatkowskaAleksandra/Raport.html
Labels: HW2

#207 Gimzicka Dominika HW2
  homeworks/hw2/GimzickaDominika/Raport_Gimzicka.pdf
  homeworks/hw2/GimzickaDominika/wykres.R
Labels: HW2

#208 Agata Krawczyk HW2
  homeworks/hw2/KrawczykAgata/Krawczyk_Agata_HW2.pdf
  homeworks/hw2/KrawczykAgata/WTA_rank.R
Labels: HW2

#209 Ostrowska_Anna_HW2
  homeworks/hw2/OstrowskaAnna/Ostrowska_Anna_HW2.pdf
Labels: HW2

#211 BoguszewskaWiktoria HW2
  homeworks/hw2/BoguszewskaWiktoria/HW2_Boguszewska_Wiktoria.pdf
Labels: HW2

#212 ZajaczkowskiMichal HW2
  homeworks/hw2/ZajaczkowskiMichal/HW2.R
  homeworks/hw2/ZajaczkowskiMichal/OryginalnyWykres.png
  homeworks/hw2/ZajaczkowskiMichal/PoprawionyWykres.png
  homeworks/hw2/ZajaczkowskiMichal/raportHW2.pdf
Labels: HW2

#213 CwalinaJan HW2
  homeworks/hw2/CwalinaJan/HW2_CwalinaJan.pdf
Labels: HW2

#215 Iwaniuk Michal HW2
  homeworks/hw2/IwaniukMichal/raport_hw2.pdf
  homeworks/hw2/IwaniukMichal/skrypthw2.R
Labels: HW2

#216 Florek_Paweł_HW2
  homeworks/hw2/FlorekPawel/raport.pdf
  homeworks/hw2/FlorekPawel/wykres.R
Labels: HW2

#217 HlebBadzeika_HW2
  homeworks/hw2/HlebBadzeika/GeorgeRussel.R
  homeworks/hw2/HlebBadzeika/Raport_George_Russel.pdf
Labels: HW2

#218 PozorskiPawel HW2
  homeworks/hw2/PozorskiPawel/.DS_Store
  homeworks/hw2/PozorskiPawel/fixed_chart.png
  homeworks/hw2/PozorskiPawel/opis.pdf
  homeworks/hw2/PozorskiPawel/wykres.R
Labels: HW2

#219 RowickiMikołaj HW2
  homeworks/hw2/RowickiMikolaj/Poprawiony wykres.png
  homeworks/hw2/RowickiMikolaj/Rowicki_Mikolaj_HW2.R
  homeworks/hw2/RowickiMikolaj/Rowicki_Mikolaj_HW2.pdf
Labels: HW2

#220 JaroszMateusz - HW2
  homeworks/hw2/JaroszMateusz/code.r
  homeworks/hw2/JaroszMateusz/raport.pdf
Labels: HW2

#221 ChodanMilosz HW2
  homeworks/hw2/ChodanMilosz/Raport.pdf
  homeworks/hw2/ChodanMilosz/Skrypt.R
Labels: HW2

#222 LesniakMartynaHW2
  homeworks/hw2/LesniakMartyna/LesniakMartynaHW2.Rmd
  homeworks/hw2/LesniakMartyna/LesniakMartynaHW2.html
  homeworks/hw2/LesniakMartyna/wykres_po.jpeg
  homeworks/hw2/LesniakMartyna/wykres_przed.png
Labels: HW2

#223 Michał Szewczak HW2
  homeworks/hw2/SzewczakMichal/RAPORT TWD HW2_M_Szewczak.pdf
  homeworks/hw2/SzewczakMichal/hw2.R
Labels: HW2

#224 Serafin Nadia HW2
  homeworks/hw2/SerafinNadia/Serafin-Nadia-HW2-referat.pdf
  homeworks/hw2/SerafinNadia/Serafin-Nadia-HW2.R
Labels: HW2

#225 Poltorak Jakub HW02
  homeworks/hw2/PoltorakJakub/Poltorak_Jakub_hw2.R
  homeworks/hw2/PoltorakJakub/Poltorak_Jakub_hw2_raport.pdf
Labels: HW2

#227 Okrojek Bogumila HW2
  homeworks/hw2/OkrojekBogumila/HW2.pdf
Labels: HW2

#228 MokwaMalgorzata HW2
  homeworks/hw2/MokwaMalgorzata/Rplot.png
  homeworks/hw2/MokwaMalgorzata/Rplot02.png
  homeworks/hw2/MokwaMalgorzata/aktywnosc_ekonomiczna_ludnosci_polski_2_kwartal_2023_roku (1).pdf
  homeworks/hw2/MokwaMalgorzata/raport.pdf
  homeworks/hw2/MokwaMalgorzata/zadanie domowe.R
Labels: HW2

#229 GuzikMikolaj_HW2
  homeworks/hw2/GuzikMikolaj/GuzikMikolaj_HW2.R
  homeworks/hw2/GuzikMikolaj/GuzikMikolaj_Raport_HW2.pdf
Labels: HW2

#230 Opala Jan HW2
  homeworks/hw2/OpalaJan/JanOpalaTWD_HW2_raport.pdf
Labels: HW2

#232 HW2_GabrielaMajstrak
  homeworks/hw2/MajstrakGabriela/HW2_GabrielaMajstrak.R
  homeworks/hw2/MajstrakGabriela/raport_hw2.pdf
Labels: HW2

#234 KaminskaZofia HW2
  homeworks/hw2/KaminskaZofia/hw2_raport_twd.pdf
Labels: HW2

#235 Tlaczala_Kornel_HW2
  homeworks/hw2/TlaczalaKornel/HW2kornel Tłaczała.pdf
  homeworks/hw2/TlaczalaKornel/main.R
  homeworks/hw2/TlaczalaKornel/src/data/EPL-results.csv
  homeworks/hw2/TlaczalaKornel/src/graphics/backdrop.jpeg
  homeworks/hw2/TlaczalaKornel/src/graphics/background.jpeg
  homeworks/hw2/TlaczalaKornel/src/graphics/background.svg
  homeworks/hw2/TlaczalaKornel/src/graphics/background.xcf
  homeworks/hw2/TlaczalaKornel/src/graphics/graphic.jpeg
  homeworks/hw2/TlaczalaKornel/src/graphics/graphic.svg
  homeworks/hw2/TlaczalaKornel/src/graphics/initial_plot.jpeg
  homeworks/hw2/TlaczalaKornel/src/graphics/my_plot.png
  homeworks/hw2/TlaczalaKornel/trash/HW2kornel Tłaczała.docx
  homeworks/hw2/TlaczalaKornel/trash/test.R
  homeworks/hw2/TlaczalaKornel/trash/understat.R
Labels: HW2, Late ⏰

#236 Wojcik Aleksandra HW2
  homeworks/hw2/WojcikAleksandra/Family_Index_plot.png
  homeworks/hw2/WojcikAleksandra/Wojcik_Aleksandra_hw2.pdf
  homeworks/hw2/WojcikAleksandra/family_index_age.csv
  homeworks/hw2/WojcikAleksandra/family_index_family_type.csv
  homeworks/hw2/WojcikAleksandra/family_index_gender.csv
  homeworks/hw2/WojcikAleksandra/family_index_socio-demo.csv
Labels: HW2, Late ⏰

#233 HW2_AdamKaniasty
  homeworks/hw2/KaniastyAdam/Document.html
  homeworks/hw2/KaniastyAdam/Document.rmd
  homeworks/hw2/KaniastyAdam/fixed.png
  homeworks/hw2/KaniastyAdam/original.jpg
  homeworks/hw2/KaniastyAdam/political_party_preferences.csv
  homeworks/hw2/KaniastyAdam/script.R
  labs/lab2/lab2.R
Labels: HW2

#231 Mroz Aleksander HW2
  homeworks/hw2/.gitkeep
  homeworks/hw2/MrozAleksander/PracaDomowa2TWD.pdf
Labels: HW2

#210 Iwaniuk_Mateusz_hw2
  homeworks/hw2/IwaniukMateusz/Mateusz Iwaniuk.pdf
Labels: HW2

#237 KitaMilosz
  homeworks/hw2/KitaMilosz/TWD_HomeWork2.pdf
Labels: HW2

#266 KapronJakub HW3
  homeworks/hw3/KapronJakub/12521-0041_flat.csv
  homeworks/hw3/KapronJakub/gadm41_DEU_1.json
  homeworks/hw3/KapronJakub/gadm41_DEU_2.json
  homeworks/hw3/KapronJakub/map.R
  homeworks/hw3/KapronJakub/map.png
  homeworks/hw3/KapronJakub/source.txt
  projects/project1/kapron_kita/kapron_kita.pdf
  projects/project1/kapron_kita/kody/Environment_Emissions_intensities.R
  projects/project1/kapron_kita/kody/projektRplakatMapaNowa.r
Labels: HW3, Project 1

#243 [projekt 1] Sekula_Serafin_Rodziewicz
  homeworks/hw3/SekulaGaspar/airports.csv
  homeworks/hw3/SekulaGaspar/hw3.R
  homeworks/hw3/SekulaGaspar/hw3_plot.html
  projects/project1/Sekula_Serafin_Rodziewicz/code/data/HDIFOODWASTEGDP.xlsx
  projects/project1/Sekula_Serafin_Rodziewicz/code/data/co-emissions-per-capita.csv
  projects/project1/Sekula_Serafin_Rodziewicz/code/data/data_map.csv
  projects/project1/Sekula_Serafin_Rodziewicz/code/data/fw_Data.xlsx
  projects/project1/Sekula_Serafin_Rodziewicz/code/data/gdp 2.csv
  projects/project1/Sekula_Serafin_Rodziewicz/code/data/working_hours.csv
  projects/project1/Sekula_Serafin_Rodziewicz/code/gdp.R
  projects/project1/Sekula_Serafin_Rodziewicz/code/hdi.R
  projects/project1/Sekula_Serafin_Rodziewicz/code/map.R
  projects/project1/Sekula_Serafin_Rodziewicz/code/working_hours.R
  projects/project1/Sekula_Serafin_Rodziewicz/poster.pdf
Labels: Project 1

#282 Frydrysiak Norbert HW3 + [Project 1] Frydrysiak Szewczak Zajączkowski
  homeworks/hw3/FrydrysiakNorbert/datatexas.csv
  homeworks/hw3/FrydrysiakNorbert/mapa.R
  homeworks/hw3/FrydrysiakNorbert/mapa.png
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/data/Fast_Food_Restaurants_US.csv
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/data/fastfood.csv
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/map/map.R
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/plakat.pdf
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/radar/radar_plot_ArbysBurger King.svg
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/radar/radar_plot_Chick Fil-ADairy Queen.svg
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/radar/radar_plot_McdonaldsSonic.svg
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/radar/radar_plot_SubwayTaco Bell.svg
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/radar/spider_plot_code.R
  projects/project1/Frydrysiak_Szewczak_Zajaczkowski/violin/violinPlot.R
Labels: HW3, Project 1

#283 BokhanKatsiaryna [HW3] + [Project 1] Badzeika_Bokhan_Pahasian
  homeworks/hw3/BokhanKatsiaryna/Code.R
  homeworks/hw3/BokhanKatsiaryna/MapFullScreen.html
  homeworks/hw3/BokhanKatsiaryna/country-capitals.csv
  homeworks/hw3/BokhanKatsiaryna/data.csv
  homeworks/hw3/BokhanKatsiaryna/world_population.csv
  projects/project1/Badzeika_Bokhan_Pahasian/Badzeika_Bokhan_Pahasian.png
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres1/barplot.png
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres1/cause_of_deaths.csv
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres1/changingDeaths.png
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres1/changing_plot.png
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres1/deaths_barplot.R
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres1/deaths_changing.R
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres1/world_population.csv
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres2/15y0before13.csv
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres2/drinkbefore13.R
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres2/first_drink_map_plakat_orange_bold_boarders_lightgrey.png
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres3/continents2.csv
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres3/data1.csv
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres3/scatterplot.R
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres3/scatterplot.png
  projects/project1/Badzeika_Bokhan_Pahasian/kody/wykres3/world_population.csv
Labels: HW3, Project 1

#301 [projekt1] Adamczyk_Cwalina_Florek
  projects/project1/Adamczyk_Cwalina_Florek/Plots/price_changes_lineplot.png
  projects/project1/Adamczyk_Cwalina_Florek/Plots/price_map.PNG
  projects/project1/Adamczyk_Cwalina_Florek/Plots/price_spiderplot.png
  projects/project1/Adamczyk_Cwalina_Florek/Plots/product_map.png
  projects/project1/Adamczyk_Cwalina_Florek/Poster/poster.pdf
  projects/project1/Adamczyk_Cwalina_Florek/README.md
  projects/project1/Adamczyk_Cwalina_Florek/code/lineplot_productmap.R
  projects/project1/Adamczyk_Cwalina_Florek/code/prc_fsc_idx__custom_8184163_linear.csv.gz
  projects/project1/Adamczyk_Cwalina_Florek/code/pricemap.r
  projects/project1/Adamczyk_Cwalina_Florek/code/spiderplot.R
Labels: Project 1

#277 [projekt1] Kruk_Mroz_Piechota + Kruk Julia HW3
  homeworks/hw3/KrukJulia/hw3.R
  homeworks/hw3/KrukJulia/map.png
  projects/Kruk_Mroz_Piechota/kody/facts.R
  projects/Kruk_Mroz_Piechota/kody/map.R
  projects/Kruk_Mroz_Piechota/kody/plot.R
  projects/Kruk_Mroz_Piechota/kody/yield-density-plot.R
  projects/Kruk_Mroz_Piechota/plots/density-plot.png
  projects/Kruk_Mroz_Piechota/plots/map.png
  projects/Kruk_Mroz_Piechota/plots/scatter-plot.png
  projects/Kruk_Mroz_Piechota/poster.pdf
Labels: HW3, Project 1

#278 SewerynBarbara HW3 & [projekt 1 Seweryn_Rogalska_Sienko]
  homeworks/hw3/SewerynBarbara/Barbara Seweryn hw3.R
  homeworks/hw3/SewerynBarbara/mapka.png
  projects/project1/Seweryn_Rogalska_Sienko/FINAL (2).pdf
  projects/project1/Seweryn_Rogalska_Sienko/KodDoMap.R
  projects/project1/Seweryn_Rogalska_Sienko/drugi_wykresAustralia.R
  projects/project1/Seweryn_Rogalska_Sienko/eating disorders.R
  projects/project1/Seweryn_Rogalska_Sienko/grupywiekowe.R
  projects/project1/Seweryn_Rogalska_Sienko/wykres_choroby.r
Labels: HW3, Project 1

#293 [projekt1] Boguszewska_Samsel & Boguszewska HW3
  homeworks/hw3/BoguszewskaWiktoria/HW3_Boguszewska_Wiktoria.Rmd
  homeworks/hw3/BoguszewskaWiktoria/Mapa_mortality_rate.png
  homeworks/hw3/BoguszewskaWiktoria/infant_mortality_rate.csv
  projects/project1/Boguszewska_Samsel/Boguszewska_Samsel.pdf
  projects/project1/Boguszewska_Samsel/Kody/Boguszewska_Samsel.Rmd
  projects/project1/Boguszewska_Samsel/Kody/Food_Production.csv
  projects/project1/Boguszewska_Samsel/Kody/Food_Production2.csv
Labels: HW3, Project 1

#303 [projekt 1] Kruk Mroz Piechota
  projects/project1/Kruk_Mroz_Piechota/kody/facts.R
  projects/project1/Kruk_Mroz_Piechota/kody/map.R
  projects/project1/Kruk_Mroz_Piechota/kody/plot.R
  projects/project1/Kruk_Mroz_Piechota/kody/yield-density-plot.R
  projects/project1/Kruk_Mroz_Piechota/plots/density-plot.png
  projects/project1/Kruk_Mroz_Piechota/plots/map.png
  projects/project1/Kruk_Mroz_Piechota/plots/scatter-plot.png
  projects/project1/Kruk_Mroz_Piechota/poster.pdf
Labels: Project 1

#307 [project 1] Borycki_Chodan_guzik
  projects/project1/Borycki_Chodan_Guzik/code/Wykres_miejsce zamieszkania.R
  projects/project1/Borycki_Chodan_Guzik/code/kod_mapa.R
  projects/project1/Borycki_Chodan_Guzik/code/protein.R
  projects/project1/Borycki_Chodan_Guzik/data/per-capita-sources-of-protein.csv
  projects/project1/Borycki_Chodan_Guzik/plots/Rplot22.png
  projects/project1/Borycki_Chodan_Guzik/plots/mapka 1.png
  projects/project1/Borycki_Chodan_Guzik/plots/wykres_plakat.png
  projects/project1/Borycki_Chodan_Guzik/poster/World Hunger.pdf
Labels: Project 1

#268 KarandysMateusz HW 3
  homeworks/hw3/KarandysMateusz/counties_density_map.pdf
  homeworks/hw3/KarandysMateusz/hw3.R
Labels: HW3, Project 1

#320 PozorskiPawel HW3
  homeworks/hw3/.DS_Store
  homeworks/hw3/PawelPozorski/.DS_Store
  homeworks/hw3/PawelPozorski/chart.R
  homeworks/hw3/PawelPozorski/data.csv
  homeworks/hw3/PawelPozorski/plot.png
  projects/project1/Pozorski_Sobocimski_Bihniak/.DS_Store
  projects/project1/Pozorski_Sobocimski_Bihniak/What about fast food.png
  projects/project1/Pozorski_Sobocimski_Bihniak/dane_lata.xlsx
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_africa.R
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_africa.png
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_bmi.R
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_bmi.png
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_lata.R
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_lata.png
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_map.R
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_map.png
  projects/project1/Pozorski_Sobocimski_Bihniak/plot_prices.R
Labels: HW3, Project 1

#241 KaminskaZofia HW3
  homeworks/hw3/KaminskaZofia/crime-rate-by-country-2023.csv
  homeworks/hw3/KaminskaZofia/hw3_twd.R
  homeworks/hw3/KaminskaZofia/plot11.png
Labels: HW3

#245 Jarosz Mateusz - HW3
  homeworks/hw3/JaroszMateusz/code.r
  homeworks/hw3/JaroszMateusz/data.csv
  homeworks/hw3/JaroszMateusz/map.jpg
Labels: HW3

#246 PahasianMilanna HW3
  homeworks/hw3/PahasianMilanna/HW3.R
  homeworks/hw3/PahasianMilanna/drinks.csv
  homeworks/hw3/PahasianMilanna/map_alcohol_servings.html
Labels: HW3

#250 IwaniukMichalHW3
  homeworks/hw3/IwaniukMichal/Rplot01.pdf
  homeworks/hw3/IwaniukMichal/beer-consumption-per-person.csv
  homeworks/hw3/IwaniukMichal/iwaniuk_michal_hw3.R
Labels: HW3

#253 AntoniKingstonHW3
  homeworks/hw3/KingstonAntoni/Przesadziłeś.png
  homeworks/hw3/KingstonAntoni/hausaufgabe_drei.R
Labels: HW3

#256 Jezierski Bartosz HW3
  homeworks/hw3/JezierskiBartosz/Data/consumptionpercapita10_21.csv
  homeworks/hw3/JezierskiBartosz/code_map.R
  homeworks/hw3/JezierskiBartosz/mapa.jpg
Labels: HW3

#258 Kukla Michal HW3
  homeworks/hw3/KuklaMichal/Kukla_Michal_HW3.R
  homeworks/hw3/KuklaMichal/Kukla_Michal_HW3.png
  homeworks/hw3/KuklaMichal/final.csv
Labels: HW3

#261 SobocińskiHubert HW3
  homeworks/hw3/SobocinskiHubert/Dataset.xlsx
  homeworks/hw3/SobocinskiHubert/IQMap.png
  homeworks/hw3/SobocinskiHubert/Mapa.R
Labels: HW3

#262 DeptuchMateusz hw3
  homeworks/hw3/DeptuchMateusz/code.R
  homeworks/hw3/DeptuchMateusz/plot.jpg
Labels: HW3

#263 Choszczyk Natalia HW3
  homeworks/hw3/ChoszczykNatalia/HW3.R
  homeworks/hw3/ChoszczykNatalia/mapka.jpeg
Labels: HW3

#264 KitaMiloszHW3
  homeworks/hw3/KitaMilosz/History_of_Mass_Shootings_in_the_USA.csv
  homeworks/hw3/KitaMilosz/mapka.pdf
  homeworks/hw3/KitaMilosz/twdHw3.R
Labels: HW3

#265 Tkaczyk Krzysztof HW3
  homeworks/hw3/TkaczykKrzysztof/code.R
  homeworks/hw3/TkaczykKrzysztof/map.html
Labels: HW3

#267 Florek_Pawel_HW3
  homeworks/hw3/FlorekPawel/Rplot.pdf
  homeworks/hw3/FlorekPawel/hw3.R
  homeworks/hw3/FlorekPawel/prc_fsc_idx_page_linear.csv
Labels: HW3

#271 Momot Maciej HW3
  homeworks/hw3/MomotMaciejHW3/MapaMomotMaciejHW3.pdf
  homeworks/hw3/MomotMaciejHW3/MomotMaciej HW3.R
Labels: HW3

#274 SienkoZuzanna HW3
  homeworks/hw3/SienkoZuzanna/Rplot.pdf
  homeworks/hw3/SienkoZuzanna/code_hw3.R
  homeworks/hw3/SienkoZuzanna/hate_crime.zip
Labels: HW3

#275 HW3_Kaniasty_Adam
  homeworks/hw3/KaniastyAdam/covid.csv
  homeworks/hw3/KaniastyAdam/hw3.R
  homeworks/hw3/KaniastyAdam/map.html
  homeworks/hw3/KaniastyAdam/map_files/Proj4Leaflet-1.0.1/proj4leaflet.js
  homeworks/hw3/KaniastyAdam/map_files/htmlwidgets-1.6.2/htmlwidgets.js
  homeworks/hw3/KaniastyAdam/map_files/jquery-1.12.4/jquery.min.js
  homeworks/hw3/KaniastyAdam/map_files/leaflet-1.3.1/images/layers-2x.png
  homeworks/hw3/KaniastyAdam/map_files/leaflet-1.3.1/images/layers.png
  homeworks/hw3/KaniastyAdam/map_files/leaflet-1.3.1/images/marker-icon-2x.png
  homeworks/hw3/KaniastyAdam/map_files/leaflet-1.3.1/images/marker-icon.png
  homeworks/hw3/KaniastyAdam/map_files/leaflet-1.3.1/images/marker-shadow.png
  homeworks/hw3/KaniastyAdam/map_files/leaflet-1.3.1/leaflet.css
  homeworks/hw3/KaniastyAdam/map_files/leaflet-1.3.1/leaflet.js
  homeworks/hw3/KaniastyAdam/map_files/leaflet-binding-2.1.2/leaflet.js
  homeworks/hw3/KaniastyAdam/map_files/leaflet-providers-1.9.0/leaflet-providers_1.9.0.js
  homeworks/hw3/KaniastyAdam/map_files/leaflet-providers-plugin-2.1.2/leaflet-providers-plugin.js
  homeworks/hw3/KaniastyAdam/map_files/leafletfix-1.0.0/leafletfix.css
  homeworks/hw3/KaniastyAdam/map_files/proj4-2.6.2/proj4.min.js
  homeworks/hw3/KaniastyAdam/map_files/rstudio_leaflet-1.3.1/images/1px.png
  homeworks/hw3/KaniastyAdam/map_files/rstudio_leaflet-1.3.1/rstudio_leaflet.css
Labels: HW3

#280 Rowicki Mikolaj HW3
  homeworks/hw3/RowickiMikolaj/RowickiMikolaj_HW3.R
  homeworks/hw3/RowickiMikolaj/data/deaths-due-to-obesity.csv
  homeworks/hw3/RowickiMikolaj/data/deaths_obesity_in_2015_per_country.xlsx
  homeworks/hw3/RowickiMikolaj/data/world_population.csv
  homeworks/hw3/RowickiMikolaj/map_death_reath_of_obesity_related_diseases_per_country.pdf
Labels: HW3

#287 IwaniukMateusz hw3
  homeworks/hw3/IwaniukMateusz/data3.csv
  homeworks/hw3/IwaniukMateusz/map.jpg
  homeworks/hw3/IwaniukMateusz/mapka.Rproj
Labels: HW3

#288 Piechota Michal HW3
  homeworks/hw3/PiechotaMichal/Minimum_Wage_Data.csv
  homeworks/hw3/PiechotaMichal/hw3.R
  homeworks/hw3/PiechotaMichal/map.jpg
Labels: HW3

#292 Agata_Krawczyk
  homeworks/hw3/KrawczykAgata/Countries-Europe.csv
  homeworks/hw3/KrawczykAgata/data.csv
  homeworks/hw3/KrawczykAgata/hw3.R
  homeworks/hw3/KrawczykAgata/unis.csv
  homeworks/hw3/KrawczykAgata/wykres.png
Labels: HW3

#294 HW3 CwalinaJan
  homeworks/hw3/CwalinaJan/HW3.pdf
Labels: HW3

#295 WojcikBartlomiej HW3
  homeworks/hw3/WojcikBartlomiej/HW3.R
  homeworks/hw3/WojcikBartlomiej/Map.png
Labels: HW3

#296 ChodanMilosz HW3
  homeworks/hw3/ChodanMilosz/Food_Security_Data_E_All_Data_(Normalized).zip
  homeworks/hw3/ChodanMilosz/mapka.R
  homeworks/hw3/ChodanMilosz/mapka.png
Labels: HW3

#312 Borycki Bartłomiej HW3
  homeworks/hw3/BoryckiBartlomiej/average-height-of-men.csv
  homeworks/hw3/BoryckiBartlomiej/mapka.R
  homeworks/hw3/BoryckiBartlomiej/mapka_wzrost.png
Labels: HW3

#313 Majstrak_Gabriela_HW3
  homeworks/hw3/MajstrakGabriela/Map_HW3.pdf
  homeworks/hw3/MajstrakGabriela/kod_HW3.R
Labels: HW3

#314 TlaczalaKornelHW3
  homeworks/hw3/TlaczalaKornel/main.R
  homeworks/hw3/TlaczalaKornel/mapka.png
  homeworks/hw3/TlaczalaKornel/old.R
  homeworks/hw3/TlaczalaKornel/premier_league_players.html
Labels: HW3

#315 SzewczakMichałHW3
  homeworks/hw3/SzewczakMichal/hw3.R
  homeworks/hw3/SzewczakMichal/hw3.pdf
Labels: HW3

#316 MrozAleksander HW3
  homeworks/hw3/MrozAleksander/Script.R
  homeworks/hw3/MrozAleksander/drinks.csv
  homeworks/hw3/MrozAleksander/map.png
Labels: HW3

#318 Samsel Aleksandra HW3
  homeworks/hw3/SamselAleksandra/hm3.R
  homeworks/hw3/SamselAleksandra/usa.html
Labels: HW3

#319 Krol Mateusz HW3
  homeworks/hw3/KrolMateusz/mkrolplot.png
  homeworks/hw3/KrolMateusz/mkrolskrypt.R
  homeworks/hw3/KrolMateusz/plik.csv
Labels: HW3

#321 OkrojekBogumila HW3
  homeworks/hw3/OkrojekBogumila/20220327 annual-number-of-deaths-by-cause.csv
  homeworks/hw3/OkrojekBogumila/mapDeathsRoadInjury.jpeg
  homeworks/hw3/OkrojekBogumila/plik - death_causes.R
  homeworks/hw3/OkrojekBogumila/world_population.csv
Labels: HW3

#322 MokwaMalgorzata HW3
  homeworks/hw3/MokwaMalgorzata/HW3.R
  homeworks/hw3/MokwaMalgorzata/HW3wykres.png
Labels: HW3

#325 ZajaczkowskiMichal HW3
  homeworks/hw3/ZajaczkowskiMichal/data.csv
  homeworks/hw3/ZajaczkowskiMichal/kod.R
  homeworks/hw3/ZajaczkowskiMichal/mapa.html
Labels: HW3

#326 KowalskiHubert HW3
  homeworks/hw3/KowalskiHubert/Happiness_map.html
  homeworks/hw3/KowalskiHubert/happiness2019.csv
  homeworks/hw3/KowalskiHubert/world_happiness_map.R
Labels: HW3

#327 PoltorakJakub HW3
  homeworks/hw3/PoltorakJakub/Poltorak_Jakub_hw3.R
  homeworks/hw3/PoltorakJakub/Poltorak_Jakub_hw3_plot.png
Labels: HW3

#328 GimzickaDominika HW3
  homeworks/hw3/GimzickaDominika/Wykres_Gimzicka.png
  homeworks/hw3/GimzickaDominika/kodDoWykresu.R
Labels: HW3

#329 RudolfIgor HW3
  homeworks/hw3/RudolfIgor/dataset-time.csv
  homeworks/hw3/RudolfIgor/igorRudolfPngMap.png
  homeworks/hw3/RudolfIgor/mapaIgorRudolf.R
Labels: HW3

#331 Serafin Nadia HW3
  homeworks/hw3/SerafinNadia/Serafin-Nadia-HW3.R
  homeworks/hw3/SerafinNadia/map.png
Labels: HW3

#332 OpalaJan HW3
  homeworks/hw3/OpalaJan/JanOpalaHW3.R
  homeworks/hw3/OpalaJan/OpalaJanHW3_wykresYT.pdf
Labels: HW3

#333 Hleb Badzeika HW3
  homeworks/hw3/BadzeikaHleb/F1RacesHeatmap.html
  homeworks/hw3/BadzeikaHleb/RacesF1.R
  homeworks/hw3/BadzeikaHleb/circuits.csv
  homeworks/hw3/BadzeikaHleb/races.csv
Labels: Late ⏰, HW3

#336 AdamczykKrzysztof HW3
  homeworks/hw3/AdamczykKrzysztof/prc_fsc_idx__custom_8184163_linear.csv.gz
  homeworks/hw3/AdamczykKrzysztof/products_prices.png
  homeworks/hw3/AdamczykKrzysztof/skript.R
Labels: HW3

#337 KwiatkowskaAleksandra HW3
  homeworks/hw3/KwiatkowskaAleksandra/Homework3.R
  homeworks/hw3/KwiatkowskaAleksandra/Map.html
Labels: HW3
