Repository kozaka93/2023Z-DataVisualizationTechniques, pull requests merged in 2024-01, with the labels that each got.

#429 Iwaniuk Michal HW5
  homeworks/hw5/IwaniukMichal/choinka.gif
  homeworks/hw5/IwaniukMichal/gwiazda.png
  homeworks/hw5/IwaniukMichal/hw5.R
  homeworks/hw5/IwaniukMichal/trujkont.png
Labels: HW5

#431 LangiewiczFilip HW5
  homeworks/hw5/LangiewiczFilip/LangiewiczFilip_HW5.R
  homeworks/hw5/LangiewiczFilip/choinka.png
Labels: HW5

#432 KitaMilosz HW5
  homeworks/hw5/KitaMilosz/choinka.R
  homeworks/hw5/KitaMilosz/choinka_obrazek.png
Labels: HW5

#434 Szlingiert Filip HW5
  homeworks/hw5/SzlingiertFilip/HW5.R
  homeworks/hw5/SzlingiertFilip/kartka.gif
Labels: HW5

#438 Pergała Sebastian HW5
  homeworks/hw5/PergalaSebastian/HW5.R
  homeworks/hw5/PergalaSebastian/choinka.gif
Labels: HW5

#437 Mateusz iwaniuk hw5
  homeworks/hw5/IwaniukMateusz/Screenshot from 2024-01-02 14-01-38.png
  homeworks/hw5/IwaniukMateusz/main.html
Labels: HW5

#439 Sekula Gaspar HW5
  homeworks/hw5/SekulaGaspar/HW5.R
  homeworks/hw5/SekulaGaspar/choinka.gif
Labels: HW5

#440 HW5 DeptuchMateusz
  homeworks/hw5/DeptuchMateusz/choina.R
  homeworks/hw5/DeptuchMateusz/choina.gif
Labels: HW5

#441 LesniakMartyna HW5
  homeworks/hw5/LesniakMartyna/choinka.R
  homeworks/hw5/LesniakMartyna/choinka.gif
Labels: HW5

#442 Serafin Nadia HW5
  homeworks/hw5/SerafinNadia/choinkaa.R
  homeworks/hw5/SerafinNadia/xmas-tree.png
Labels: HW5

#443 AdamczykKrzysztof HW5
  homeworks/hw5/AdamczykKrzysztof/choineczka.py
  homeworks/hw5/AdamczykKrzysztof/choineczka_el_nie_gif_;((.PNG
  homeworks/hw5/AdamczykKrzysztof/gorsza_choineczka_tematyczna.py
  homeworks/hw5/AdamczykKrzysztof/taki_sobie_gif.gif
Labels: HW5

#444 HW5_OstrowskaAnna
  homeworks/hw5/OstrowskaAnna/OstrowskaAnna.R
  homeworks/hw5/OstrowskaAnna/choinka.jpg
Labels: HW5

#445 CwalinaJan hw5
  homeworks/hw5/CwalinaJan/HMW5.R
  homeworks/hw5/CwalinaJan/Rplot.pdf
Labels: HW5

#446 Jezierski Bartosz HW5
  homeworks/hw5/JezierskiBartosz/Data/Poland-1960.csv
  homeworks/hw5/JezierskiBartosz/choinka.png
  homeworks/hw5/JezierskiBartosz/code.R
Labels: HW5

#447 RowickiMikolaj HW5
  homeworks/hw5/RowickiMikolaj/AnimowanaChoinkaSierpinskiego.gif
  homeworks/hw5/RowickiMikolaj/ChoinkaSierpinskiego.png
  homeworks/hw5/RowickiMikolaj/RowickiMikolaj_HW5.R
Labels: HW5

#449 Agata_Krawczyk
  homeworks/hw5/KrawczykAgata/drzewo.png
  homeworks/hw5/KrawczykAgata/drzewo_kod.R
Labels: HW5

#451 Bartlomiej Borycki HW5
  homeworks/hw5/BoryckiBartlomiej/Choinka.png
  homeworks/hw5/BoryckiBartlomiej/drzewko.csv
  homeworks/hw5/BoryckiBartlomiej/hw5.R
Labels: HW5

#452 GuzikMikolaj HW5
  GuzikMikolaj/choinka.png
  GuzikMikolaj/chonikaa.R
Labels: HW5

#453 PiechotaMichal HW5
  homeworks/hw5/PiechotaMichal/choinka.png
  homeworks/hw5/PiechotaMichal/rysowanie.R
Labels: HW5

#454 Kukla Michał HW5
  homeworks/hw5/KuklaMichal/Kukla_Michal_HW5.R
  homeworks/hw5/KuklaMichal/choinka.gif
Labels: HW5

#457 Chodan Milosz HW5
  homeworks/hw5/ChodanMilosz/HW5.R
  homeworks/hw5/ChodanMilosz/HW5.html
  homeworks/hw5/ChodanMilosz/HW5_files/CanvasMatrix4-1.2.8/CanvasMatrix.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/htmlwidgets-1.6.4/htmlwidgets.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglWebGL-binding-1.2.8/rglWebGL.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/animation.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/axes.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/buffer.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/controls.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/draw.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/init.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/mouse.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/pieces.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/pretty.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/projection.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/rgl.css
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/rglClass.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/rglTimer.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/selection.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/shaders.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/shadersrc.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/subscenes.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/textures.src.js
  homeworks/hw5/ChodanMilosz/HW5_files/rglwidgetClass-1.2.8/utils.src.js
Labels: HW5

#458 Matuszyk, Michał hw5
  homeworks/hw5/MatuszykMichal/choinka.R
  homeworks/hw5/MatuszykMichal/choinka.png
Labels: HW5

#459 Rodziewicz Kacper hw5
  homeworks/hw5/RodziewiczKacper/hw5.py
  homeworks/hw5/RodziewiczKacper/hw5_plot.png
Labels: HW5

#460 KapronJakub HW5
  homeworks/hw5/KapronJakub/choinka.R
  homeworks/hw5/KapronJakub/choinka.png
Labels: HW5

#462 WieteckiMichal HW5
  homeworks/hw5/WieteckiMichal/choinka.R
  homeworks/hw5/WieteckiMichal/choinka.png
Labels: HW5

#463 HW5_Kaniasty
  homeworks/hw5/KaniastyAdam/choinka.png
  homeworks/hw5/KaniastyAdam/index.html
  homeworks/hw5/KaniastyAdam/kaniasty.gif
  homeworks/hw5/KaniastyAdam/style.css
  homeworks/hw5/KaniastyAdam/tree.js
Labels: HW5

#464 Szewczak Michał HW5
  homeworks/hw5/SzewczakMichal/Hw5.R
  homeworks/hw5/SzewczakMichal/hw5.pdf
  homeworks/hw5/SzewczakMichal/men.csv
Labels: HW5

#465 Mokwa Malgorzata HW5
  homeworks/hw5/MokwaMalgorzata/twd_zadanie5.png
  homeworks/hw5/MokwaMalgorzata/zadanie_domowe5.R
Labels: HW5

#467 RudolfIgor HW5
  homeworks/hw5/RudolfIgor/choinka-skrypt.py
  homeworks/hw5/RudolfIgor/choinka.gif
Labels: HW5

#469 SobocińskiHubert HW5
  homeworks/hw5/SobocińskiHubert/bombka2.png
  homeworks/hw5/SobocińskiHubert/bombka3.png
  homeworks/hw5/SobocińskiHubert/bombka4.png
  homeworks/hw5/SobocińskiHubert/choinka.R
  homeworks/hw5/SobocińskiHubert/choinka.png
Labels: HW5

#470 Wojcik Bartlomiej HW5
  homeworks/hw5/WojcikBartlomiej/HW5.R
  homeworks/hw5/WojcikBartlomiej/choineczka.gif
Labels: HW5

#473 ZajaczkowskiMichal HW5
  homeworks/hw5/ZajaczkowskiMichal/TWD_HW5.py
  homeworks/hw5/ZajaczkowskiMichal/choinka.png
Labels: HW5

#474 FlorekPawelHW5
  homeworks/hw5/FlorekPawel/choinka.png
  homeworks/hw5/FlorekPawel/choinka.py
Labels: HW5

#475 HlebBadzeikaHW5
  homeworks/hw5/HlebBadzeika/choinka_3x_+_1.png
  homeworks/hw5/HlebBadzeika/main.py
Labels: HW5

#477 PozorskiPaweł HW6
  homeworks/hw6/PozorskiPaweł/hw6.ipynb
  homeworks/hw6/PozorskiPaweł/map.html
  homeworks/hw6/PozorskiPaweł/readme.md
Labels: HW6

#478 [HW6] KaniastyAdam
  homeworks/hw6/KaniastyAdam/.ipynb_checkpoints/graph-checkpoint.ipynb
  homeworks/hw6/KaniastyAdam/.ipynb_checkpoints/graph_visualization-checkpoint.png
  homeworks/hw6/KaniastyAdam/.ipynb_checkpoints/lesmiserables-checkpoint.gml
  homeworks/hw6/KaniastyAdam/graph.ipynb
  homeworks/hw6/KaniastyAdam/graph_visualization.png
  homeworks/hw6/KaniastyAdam/lesmiserables.gml
Labels: HW6

#479 Hubert Kowalski HW6
  homeworks/hw6/KowalskiHubert/daylio-export-H2.csv
  homeworks/hw6/KowalskiHubert/graf_aktywnosci.png
  homeworks/hw6/KowalskiHubert/graph.ipynb
Labels: HW6

#483 HW6 Igor Kołodziej
  homeworks/hw6/KolodziejIgor/hw6.ipynb
  homeworks/hw6/KolodziejIgor/network.gml
  homeworks/hw6/KolodziejIgor/yeast_transcription.png
Labels: HW6

#486 Sekula_Piechota_Pytel [project2]
  projects/project2/Sekula_Piechota_Pytel/README.md
  projects/project2/Sekula_Piechota_Pytel/app.R
  projects/project2/Sekula_Piechota_Pytel/data/1/sleep.csv
  projects/project2/Sekula_Piechota_Pytel/data/1/steps.csv
  projects/project2/Sekula_Piechota_Pytel/data/1/water.csv
  projects/project2/Sekula_Piechota_Pytel/data/2/sleep.csv
  projects/project2/Sekula_Piechota_Pytel/data/2/steps.csv
  projects/project2/Sekula_Piechota_Pytel/data/2/water.csv
  projects/project2/Sekula_Piechota_Pytel/data/3/sleep.csv
  projects/project2/Sekula_Piechota_Pytel/data/3/steps.csv
  projects/project2/Sekula_Piechota_Pytel/data/3/water.csv
  projects/project2/Sekula_Piechota_Pytel/data/final/sleepdf.csv
  projects/project2/Sekula_Piechota_Pytel/data/final/stepsdf.csv
  projects/project2/Sekula_Piechota_Pytel/data/final/waterdf.csv
  projects/project2/Sekula_Piechota_Pytel/data_import.R
  projects/project2/Sekula_Piechota_Pytel/data_prepare.R
  projects/project2/Sekula_Piechota_Pytel/rsconnect/shinyapps.io/michael-pytel/PersonalVisualizationProject.dcf
Labels: Project 2

#499 Choszczyk_Rogalska_Szczęsna
  projects/project2/Choszczyk_Rogalska_Szczęsna/README.md
  projects/project2/Choszczyk_Rogalska_Szczęsna/app.r
  projects/project2/Choszczyk_Rogalska_Szczęsna/data/Kasia.csv
  projects/project2/Choszczyk_Rogalska_Szczęsna/data/Natalka.csv
  projects/project2/Choszczyk_Rogalska_Szczęsna/data/Ula.csv
  projects/project2/Choszczyk_Rogalska_Szczęsna/data/Wszyscy.csv
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/czas.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/czynniki.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/sny.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/sny_wykres1.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/sny_wykres2.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/sny_wykres3.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/wykres_czas1.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/wykres_czas2.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/wykres_czas3.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/wykres_czynniki1.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/screenshots/wykres_czynniki2.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/Bellota.otf
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/gwiazdeczki.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/gwiazdeczki2.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/k.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/legenda.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/o6.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/s.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/tytuł_czynniki2.png
  projects/project2/Choszczyk_Rogalska_Szczęsna/www/tło_czynniki2.png
Labels: Project 2

#500 [projekt2] momot_poltorak_kwiatkowska
  projects/project2/momot_poltorak_kwiatkowska/kody/README.md
  projects/project2/momot_poltorak_kwiatkowska/kody/app.R
  projects/project2/momot_poltorak_kwiatkowska/kody/data/ActivitiesIndividual_Ola.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/ActivitiesTogether_Maciek.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/HeartRate_Maciek.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Kroki_Kalorie_Maciek.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Kuba_1.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Kuba_2.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Kuba_3.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Kuba_4.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Kuba_5.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Maciek_1.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Maciek_2.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Maciek_3.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Maciek_4.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Maciek_5.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Ola_1.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Ola_2.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Ola_3.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Ola_4.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/Top5_activities/activity_Ola_5.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/activities_JP.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/activities_Ola.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/data/max_elevations_JP.csv
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/CzyszczenieMM.R
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/DataPreparing.R
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/Prezentacja_1_Kwiatkowska_Momot_Poltorak.pptx
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/pro_2_test_file_1_JP.R
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/pro_2_test_file_2_JP.R
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/pro_2_test_file_3_JP.R
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/pro_2_test_file_4_JP.R
  projects/project2/momot_poltorak_kwiatkowska/kody/dataCleaning/pro_2_test_file_5_JP.R
  projects/project2/momot_poltorak_kwiatkowska/kody/hotline_plugin/leaflet.hotline.js
  projects/project2/momot_poltorak_kwiatkowska/kody/markdown_images/competition_screen.png
  projects/project2/momot_poltorak_kwiatkowska/kody/markdown_images/homepage_screen.png
  projects/project2/momot_poltorak_kwiatkowska/kody/markdown_images/individual_kuba_screen.png
  projects/project2/momot_poltorak_kwiatkowska/kody/markdown_images/individual_maciek_screen.png
  projects/project2/momot_poltorak_kwiatkowska/kody/markdown_images/individual_ola_screen.png
  projects/project2/momot_poltorak_kwiatkowska/kody/markdown_images/sml_screen.png
  projects/project2/momot_poltorak_kwiatkowska/kody/markdown_images/top5_screen.png
  projects/project2/momot_poltorak_kwiatkowska/kody/www/cyclist-3.gif
  projects/project2/momot_poltorak_kwiatkowska/kody/www/ikona1-2.png
  projects/project2/momot_poltorak_kwiatkowska/kody/www/ikona2-2.png
  projects/project2/momot_poltorak_kwiatkowska/kody/www/ikona3-2.png
Labels: Project 2

#506 [projekt2] Seweryn_Wietecki
  projects/project2/seweryn_wietecki/README.md
  projects/project2/seweryn_wietecki/kody/dane.xlsx
  projects/project2/seweryn_wietecki/kody/projekt_Seweryn_Wietecki.R
Labels: Project 2

#515 Król Mateusz HW6
  homeworks/hw6/KrolMateusz/KrolMateusz_graf.png
  homeworks/hw6/KrolMateusz/PD6 TWD.ipynb
Labels: HW6

#516 KapronJakub HW6
  homeworks/hw6/KapronJakub/starwars.ipynb
  homeworks/hw6/KapronJakub/starwars.png
Labels: HW6

#517 Milanna Pahasian HW6
  homeworks/hw6/PahasianMilanna/HW6.ipynb
  homeworks/hw6/PahasianMilanna/HW6_G.png
  homeworks/hw6/PahasianMilanna/data/klas12b-demographics.dat
  homeworks/hw6/PahasianMilanna/data/klas12b-net-1.dat
Labels: HW6

#519 OstrowskaAnna_HW6
  homeworks/hw6/OstrowskaAnna/OstrowskaAnna_HW6.ipynb
  homeworks/hw6/OstrowskaAnna/conflicts.csv
  homeworks/hw6/OstrowskaAnna/conflicts_2022.png
  homeworks/hw6/OstrowskaAnna/ids.csv
Labels: HW6

#521 Bihniak_Nazarii_HW6
  homeworks/hw6/BihniakNazarii/graph.png
  homeworks/hw6/BihniakNazarii/hw6.py
Labels: HW6

#522 BokhanKatsiaryna [HW6]
  homeworks/hw6/BokhanKatsiaryna/HW6.ipynb
  homeworks/hw6/BokhanKatsiaryna/graph.png
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-advice.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-alcohol.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-delinquency.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-demographics.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-net-1.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-net-2.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-net-3.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-net-3m.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-net-4.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-net-4m.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-present.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b-primary.dat
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b.r
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b_net.csv
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b_neta.csv
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b_netbeh.csv
  homeworks/hw6/BokhanKatsiaryna/klas12b/klas12b_netbeha.csv
  homeworks/hw6/BokhanKatsiaryna/klas12b/klasdata-readme.txt
Labels: HW6

#523 Aleksandra Samsel HW6
  homeworks/hw6/SamselAleksandra/Vienna subway.csv
  homeworks/hw6/SamselAleksandra/vienna_subway.py
  homeworks/hw6/SamselAleksandra/vienna_subway_network.jpg
Labels: HW6

#525 Rowicki_Mikolaj_HW6
  homeworks/hw6/RowickiMikolaj/Rowicki_Mikolaj_HW6.ipynb
  homeworks/hw6/RowickiMikolaj/data/multigraph_hashAnonymized.csv
  homeworks/hw6/RowickiMikolaj/students_cooperation_graph.png
Labels: HW6

#526 ChodanMilosz HW6
  homeworks/hw6/ChodanMilosz/Graph.ipynb
  homeworks/hw6/ChodanMilosz/output.png
  homeworks/hw6/ChodanMilosz/starwars-episode-1-interactions.json
Labels: HW6

#527 Dunal Karolina HW6
  homeworks/hw6/DunalKarolina/LondonNetwork.png
  homeworks/hw6/DunalKarolina/ldn.ipynb
  homeworks/hw6/DunalKarolina/network/edges.csv
  homeworks/hw6/DunalKarolina/network/gprops.csv
  homeworks/hw6/DunalKarolina/network/nodes.csv
Labels: HW6

#528 Kaminska Zofia HW6
  homeworks/hw6/KaminskaZofia/graf.png
  homeworks/hw6/KaminskaZofia/zebry (2).ipynb
Labels: HW6

#529 KrawczykAgata_HW6
  homeworks/hw6/KrawczykAgata/HW6.ipynb
  homeworks/hw6/KrawczykAgata/dane.csv
  homeworks/hw6/KrawczykAgata/graf.png
  homeworks/hw6/KrawczykAgata/wierz.csv
Labels: HW6

#530 Szlingiert Filip HW6
  homeworks/hw6/SzlingiertFilip/Graph.ipynb
  homeworks/hw6/SzlingiertFilip/output.png
  homeworks/hw6/SzlingiertFilip/starwars-episode-3-interactions-allCharacters.json
Labels: HW6

#534 ChoszczykNatalia HW6
  homeworks/hw6/ChoszczykNatalia/graph.png
  homeworks/hw6/ChoszczykNatalia/graph_HW.ipynb
Labels: HW6

#535 KwiatkowskaAleksandra HW6
  homeworks/hw6/KwiatkowskaAleksandra/Kod.ipynb
  homeworks/hw6/KwiatkowskaAleksandra/lesmiserables.gml
  homeworks/hw6/KwiatkowskaAleksandra/network.jpg
Labels: HW6

#536 MomotMaciej HW6
  homeworks/hw6/MomotMaciej/MaciejMomotHW6.ipynb
  homeworks/hw6/MomotMaciej/graf.png
  homeworks/hw6/MomotMaciej/lesmis/lesmis.gml
  homeworks/hw6/MomotMaciej/lesmis/lesmis.txt
Labels: HW6

#537 SzczesnaUrszula HW6
  homeworks/hw6/SzczesnaUrszula/karate_club_network.png
  homeworks/hw6/SzczesnaUrszula/pd6.ipynb
Labels: HW6

#538 Szewczak Michał HW6
  homeworks/hw6/SzewczakMichal/hw6.R
  homeworks/hw6/SzewczakMichal/network.csv (1)/edges.csv
  homeworks/hw6/SzewczakMichal/network.csv (1)/gprops.csv
  homeworks/hw6/SzewczakMichal/network.csv (1)/nodes.csv
  homeworks/hw6/SzewczakMichal/network_plot.png
Labels: HW6

#539 Bartłomiej Borycki HW6
  homeworks/hw6/BoryckiBartlomiej/edges.csv
  homeworks/hw6/BoryckiBartlomiej/gprops.csv
  homeworks/hw6/BoryckiBartlomiej/london_transport.ipynb
  homeworks/hw6/BoryckiBartlomiej/london_transport.png
  homeworks/hw6/BoryckiBartlomiej/nodes.csv
Labels: HW6

#541 ZywickiTomasz HW6
  homeworks/hw6/ZywickiTomasz/graf.ipynb
  homeworks/hw6/ZywickiTomasz/graf.png
  homeworks/hw6/ZywickiTomasz/starwars-episode-2-interactions-allCharacters.json
Labels: HW6

#542 HW6_MajstrakGabriela
  homeworks/hw6/MajstrakGabriela/HW6.ipynb
  homeworks/hw6/MajstrakGabriela/HW6.png
Labels: HW6

#544 [HW6] Kruk Julia
  homeworks/hw6/KrukJulia/HW6.ipynb
  homeworks/hw6/KrukJulia/lotr_graph.png
Labels: HW6

#545 Serafin Nadia HW6
  homeworks/hw6/SerafinNadia/HW6.ipynb
  homeworks/hw6/SerafinNadia/edges.csv
  homeworks/hw6/SerafinNadia/graf.png
  homeworks/hw6/SerafinNadia/nodes.csv
Labels: HW6

#546 Deptuch Mateusz HW6
  homeworks/hw6/DeptuchMateusz/graph.pdf
  homeworks/hw6/DeptuchMateusz/graph.py
Labels: HW6

#547 BoguszewskaWiktoria HW6
  homeworks/hw6/BoguszewskaWiktoria/Graf_Harry_Potter.ipynb
  homeworks/hw6/BoguszewskaWiktoria/Graf_social_network_HP.png
  homeworks/hw6/BoguszewskaWiktoria/characters.csv
  homeworks/hw6/BoguszewskaWiktoria/relations.csv
Labels: HW6

#549 [HW6] JaroszMateusz
  homeworks/hw6/JaroszMateusz/data/edges.csv
  homeworks/hw6/JaroszMateusz/data/nodes.csv
  homeworks/hw6/JaroszMateusz/graph.ipynb
  homeworks/hw6/JaroszMateusz/graph.png
Labels: HW6

#550 Mateusz Iwaniuk HW6
  homeworks/hw6/MateuszIwaniuk/Figure_1.png
  homeworks/hw6/MateuszIwaniuk/app.py
Labels: HW6

#551 RudolfIgor HW6
  homeworks/hw6/RudolfIgor/data/edges.csv
  homeworks/hw6/RudolfIgor/graf_igor.png
  homeworks/hw6/RudolfIgor/graf_igor.py
Labels: HW6

#552 WojcikAleksandra HW6
  homeworks/hw6/WojcikAleksandra/kierunki_migracji_polska_2022_eu.xlsx
  homeworks/hw6/WojcikAleksandra/kraje_eu_populacja_2022.xlsx
  homeworks/hw6/WojcikAleksandra/poland_migration_map.ipynb
  homeworks/hw6/WojcikAleksandra/poland_migration_map.png
Labels: HW6

#553 Jan Opala HW6
  homeworks/hw6/HW6/2022_jury_results.csv
  homeworks/hw6/HW6/2022_televote_results.csv
  homeworks/hw6/HW6/OpalaJanHW6.ipynb
  homeworks/hw6/HW6/OpalaJanHW6.png
Labels: HW6

#548 Sekula Gaspar HW6
  homeworks/hw6/SekulaGaspar/hw6.ipynb
  homeworks/hw6/SekulaGaspar/hw6.pdf
  homeworks/hw6/SekulaGaspar/word_adjacencies.gml
Labels: HW6
